@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;

  --color-primary: #006e2f;
  --color-primary-hover: #005321;
  --color-primary-container: #22c55e;
  --color-on-primary: #ffffff;
  
  --color-background: #F0FDF4;
  --color-surface: #ffffff;
  --color-surface-dim: #cbdbf5;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #3d4a3d;
  
  --color-secondary: #486554;
  --color-secondary-container: #caead6;
  --color-on-secondary-container: #4e6b5a;
  
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
}

html, body {
  background-color: #F0FDF4;
  font-family: "Manrope", sans-serif;
  color: #0b1c30;
  overflow: hidden;
  height: 100%;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
}

.soft-shadow {
  box-shadow: 0px 4px 20px rgba(34, 197, 94, 0.08);
}

.active-shadow {
  box-shadow: 0px 10px 25px rgba(34, 197, 94, 0.15);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
